Benchncnn-3DS.3dsx
Benchncnn-3DS.elf
Benchncnn-3DS.lst
Benchncnn-3DS.smdh
build/bench.d
build/bench.o
build/Benchncnn-3DS.lst
build/Benchncnn-3DS.map
build/main.d
build/main.o
build/menu.d
build/menu.o
build/utils.d
build/utils.o
.vscode/settings.json
